<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
        
</head>
<body>

<center><h2>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'estudiante' %}">Estudiante</a>
<a href="{% url 'padre' %}">Padre</a>
<a href="{% url 'madre' %}">Madre</a>
<a href="{% url 'hermana' %}">Hermana</a>
<a href="{% url 'hermano' %}">Hermano</a>
<a href="{% url 'familires_app:familiares' %}">Familiares(DB)</a>
</center></h2>

{% block header %}

{% endblock header %}

<h2>
    <center>Aqui podras visualizar los datos de los familiares del alumno Vito de Coderhouse.</center>
    <br>- Si ingresa mediante sus nombres en el dock superior, seran cargados desde el views.py del proyecto.
    <br>- Si ingresa en la ultima opcion de Familiares(DB), los visualizara desde la DB.
</h2>

{% block content %}

{% endblock content %}


</body>
</html>