{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Home del MVT
        {% endblock title %}
    </title>
</head>
<body>
    {% block header %}

    {% endblock header %}

    {% block content %}
        <h2>
            <center>Aqui podras visualizar los datos de los familiares del alumno Vito de Coderhouse.</center>
            <br>- Si ingresa mediante sus nombres en el dock superior, seran cargados desde el views.py del proyecto.
            <br>- Si ingresa en la ultima opcion de familia, los visualizara desde la DB.
        </h2>
    {% endblock %}

</body>
</html>