<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Home MVT Coderhouse :)
        {% endblock %}
    </title>
</head>
<body>
    <center>
        {% block header %}
            <h1>Pagina principal del MVT, desde aquí podras ver algunos datos de familiares de Vito, alumno de Coderhouse.</h1>
        {% endblock %}

        {% block dockbar %}
            <h2>
            <a href='/home'>Home</a>
            <a href='/estudiante/'>Estudiante</a>
            <a href='/padre/'>Padre</a>
            <a href='/madre/'>Madre</a>
            <a href='/hermana/'>Hermana</a>
            <a href='/hermano/'>Hermano</a>
            </h2>
        {% endblock %}
    </center>

    {% block content %}
        <h2>Aqui podras visualizar los datos</h2>
    {% endblock %}

</body>
</html>